<md-dialog class="" flex="40" >
  <form>
    <md-toolbar class="">
      <div class="md-toolbar-tools">
        <h3>Create Customer</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <md-dialog-content>
       
       <div layout="column" class="margin-box-10" flex="auto">
       <div layout="row" flex="auto">
        <p class="margin-r-10">Email :</p>
        <md-input-container md-no-float class="pad-0 pad-t-10" flex="auto">
        <input type="email" ng-model="formData.email" placeholder="Enter Email" required=""></input>
        </md-input-container>
       </div>

       <div layout="row" flex="auto">
        <p class="pad-t-10">Name :</p>
        <md-input-container  flex="auto">
        <label>First Name</label>
        <input type="text" ng-model="formData.fName" required></input>
        </md-input-container>
        <md-input-container flex="auto">
        <label>Last Name</label>
        <input type="text" ng-model="formData.lName" required></input>
        </md-input-container>
       </div>


       <div layout="row" flex="auto">
        <p class="margin-r-10">Contact No:</p>
        <md-input-container md-no-float class="pad-0 pad-t-10" flex="auto">
        <input type="text" placeholder="Enter Contact" ng-model="formData.contact" required></input>
        </md-input-container>
       </div>

       

      <div layout="row" layout-align="end center">
      <md-button type="submit" ng-click="confirm();"class="md-primary">Save</md-button>
      </div>


    </md-dialog-content>
  </form>
</md-dialog>

