table, thead, td {
    border: 1px solid black;
    border-collapse: collapse;
}
thead, td {
    padding: 5px;
}
.customer-table{
	.md-button{
	  margin:0;
      line-height:0;
      min-height:10px;
      min-width: 50px;
}
}

thead{
	 font-weight: bold;
}